<%= form_with(model: dish_tag, local: true) do |form| %>
  <% if dish_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish_tag.errors.count, "error") %> prohibited this dish_tag from being saved:</h2>

      <ul>
        <% dish_tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :tagType %>
    <%= form.text_field :tagType %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
