<p id="notice"><%= notice %></p>

<h1>Dishx Tags</h1>

<table>
  <thead>
    <tr>
      <th>Dish</th>
      <th>Dish tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishx_tags.each do |dishx_tag| %>
      <tr>
        <td><%= dishx_tag.dish_id %></td>
        <td><%= dishx_tag.dish_tag_id %></td>
        <td><%= link_to 'Show', dishx_tag %></td>
        <td><%= link_to 'Edit', edit_dishx_tag_path(dishx_tag) %></td>
        <td><%= link_to 'Destroy', dishx_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dishx Tag', new_dishx_tag_path %>
